<!-- Toolbar  role="banner"> -->
<div class="toolbar"> 
  <a href="http://127.0.0.1:8000/" target="_blank"> 
    <img alt="Mercadona Logo" src="./assets/M _100.png" />
  </a>
  <div class="headerText">
    <p>Bienvenue chez Mercadona</p>
  </div>
  <div>
    <mat-nav-list>
      <div>
        <a mat-list-item routerLink="/products" routerLinkActive="active" *ngIf="currentUrl !== '/products'">Notre catalogue</a>
        <a mat-list-item routerLink="/" routerLinkActive="active" *ngIf="currentUrl !== '/'">Nos promotions</a>
      </div>
    </mat-nav-list>
  </div>
</div>
