<p class="message">En promotion actuellement !</p>

<div class="card-container">
  <div *ngFor="let product of productsWithPromotion">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.product_title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-price bold-price">{{ formatPrice(product.sale_price) }}</p>
        <img src="{{ product.image }}" alt="{{ product.product_title }}">
      </div>
    </div>
  </div>
</div>

