

.card-container {
  display: grid;
  grid-template-rows: repeat(3, 200px); /* Hauteur fixe de 200 pixels pour chaque ligne */
  grid-template-columns: repeat(5, 1fr); /* Deux colonnes égales */
  grid-gap: 5px;
  grid-row-gap: 5px;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-body:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-body img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.card-text {
  font-size: 0.8rem;
  color: #777;
}
.card-price {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #136313;
}
.bold-price {
  font-weight: bold;
}

.promotion {
  color: red;
}
