/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* box-sizing: border-box; */
    margin: 0; 
    color: #133314;
}

/* changer la couleur du mat-tab-group 'Accéder au catalogue'  */
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
--mdc-tab-indicator-active-indicator-color: #fff;
--mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5);
--mat-tab-header-pagination-icon-color: #fff;
--mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-active-label-text-color: #fff;
--mat-tab-header-active-ripple-color: #fff;
--mat-tab-header-inactive-ripple-color: #fff;
--mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-active-focus-label-text-color: #fff;
--mat-tab-header-active-hover-label-text-color: #fff;
--mat-tab-header-active-focus-indicator-color: #fff;
--mat-tab-header-active-hover-indicator-color: #fff;
}
