/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Cabin', sans-serif;
}

body {
    background: rgba(216, 238, 233, 0.527);
    color: #133314;
    margin: 0 15px 0 15px;
    padding: 0;
    line-height: 1.6;
    font-size: 1rem;
    
}

/* changer la couleur du mat-tab-group */
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
--mdc-tab-indicator-active-indicator-color: #fff;
--mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5);
--mat-tab-header-pagination-icon-color: #fff;
--mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-active-label-text-color: #fff;
--mat-tab-header-active-ripple-color: #fff;
--mat-tab-header-inactive-ripple-color: #fff;
--mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
--mat-tab-header-active-focus-label-text-color: #fff;
--mat-tab-header-active-hover-label-text-color: #fff;
--mat-tab-header-active-focus-indicator-color: #fff;
--mat-tab-header-active-hover-indicator-color: #fff;
}
